/* body = selecteur type élément */
body {
    font-style: italic;
    /* indique la police de caractère (font)*/
    color: darkgoldenrod;
    /*couleur texte*/
    font-size: 16px;
    /*taille du texte*/
    /* font-weight: bold;*/
    /*poid du texte*/
}

h1 {
    color: orange;
    font-style: italic;
    center;
}

p {
    color: burlywood;
    font-style: normal;

}

ul {
    color: darkseagreen;
}

/*selecteur multiple : les lien situé dans le nav */
nav a {
    text-decoration: none;
    color: white;

}

nav ul {
    list-style-type: none;
    color: darkseagreen;
}

nav {
    background-color: darkgray;
    
}


*****************************************************************

/* selecteur de classe*/
.gras {
    font-weight: bold;
}

.barre {
    text-decoration: line-through;
}

.souligne {
    text-decoration: underline;
}

.acceuil {
    display: inline;
    padding: 0;

}

.projet {
    display: inline;
    margin-left: 33%;

}

.contact {
    display: inline;
    margin-left: 33%;
    
}

.bordure{
    border: solid 1px red;
}

**************************************************************************
/* #paragraphe1 = selecteur (type id)*/
#paragraphe2 {
    font-size: 20px;
}